[submodule "assimp"]
	path = externals/assimp
	url = https://github.com/assimp/assimp
[submodule "glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm
[submodule "bullet3"]
	path = externals/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "imgui"]
	path = externals/imgui/imgui
	url = https://github.com/ocornut/imgui
